.heroImg{
    background-image: url("https://wallpapers.com/images/featured/e-commerce-9mc3i2d61p31o76n.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
}

.cartImg{
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
}